<a class='galileo-seznammap' data-id="{$id}" id="{$id}-open" href='javascript:;' onClick='openMap({$id})' style='{$open|noescape}'></a>
<a id="{$id}-close" href='javascript:;' onClick='closeMap({$id})' style='{$close|noescape}'></a>